.uc-signup-needs-account {
  background-image: url(./images/blue-question.png);
  background-repeat: no-repeat;
  padding: 0px 0px 21px 20px;
}

.uc-signup-has-account {
  background-image: url(./images/green-check.png);
  background-repeat: no-repeat;
  padding: 0px 0px 21px 20px;
}

.uc-signup-next.form-submit {
  margin-left: 30px;
}

span.uc-signup-closed-message {
  display: block;
}
